@{
    Layout = "_Layout";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">AirBB Admin</a>
        <div class="navbar-nav ms-auto">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Site</a>
        </div>
    </div>
</nav>

<div class="container-fluid mt-3">
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}